<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="container">-->
<div class="languages">
  <a ><img src="assets/images/eng.png" title="Անգլերեն" >

    <button (click)="switchLanguage('en')">English</button>
  </a>
  <a ><img src="assets/images/ru.png" title="Ռուսերեն">

    <button (click)="switchLanguage('ru')">Русский язык</button>
  </a>
  <a ><img src="assets/images/arm.png" title="Հայերեն"> <button (click)="switchLanguage('hay')">Հաեռեն</button>
   </a>



  <div class="ui-g number">
    <div class="ui-g-12">
      <p class="numberTel">
        +374(94)544-686
      </p>
    </div>
    <div class="ui-g-12"  >
      <p class="numberTel">
        +7(977)320-60-78
      </p>
    </div>
  </div>
</div>
<app-navigation></app-navigation>
<router-outlet></router-outlet>

<!--    <div class="container">-->
<!--        <br>-->
<!--        <br>-->
<!--        <hr>-->
<!--        <div class="text-center">-->
<!--            <a style="color: inherit" href="https://github.com/zhulinn"><i class="fab fa-github fa-3x"></i></a>-->
<!--        </div>-->


        <!--Copyright-->
<!--        <div class="footer-copyright py-3 text-center">-->
<!--            © 2020 Copyright:-->
<!--            <a href="https://zlin.me"> Arman </a>-->
<!--        </div>-->
        <!--/.Copyright-->
<!--    </div>-->
<!--</div>-->
<app-footer></app-footer>

